<html>
<body>
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_gpu_model" class="control-group"> <label for="id_gpu_model" class="control-label requiredField">
        First name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div> <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_customerid" class="control-group"> <label for="id_customerid" class="control-label requiredField">
        Customerid<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="customerid" class="textinput textInput" required="" id="id_customerid"> </div> </div> <div id="div_id_phonenumber" class="control-group"> <label for="id_phonenumber" class="control-label requiredField">
        Phone Number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="phonenumber" maxlength="16" class="textinput textInput" required="" id="id_phonenumber"> </div> </div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" maxlength="16" class="textinput textInput" required="" id="id_password"> </div> </div>

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>

