{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Customer Details</title>
</head>
<style>
    .submitbtn {
        width: auto;
        padding: 5px 20px;
        background-color: #03c61d;
        color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    .resetbtn {
        width: auto;
        padding: 5px 20px;
        background-color: #0464e2;
        color: rgb(255, 255, 255);
        border-radius: 5px;
    }
</style>
<body>
    <div class="container-fluid">
    <h2>Listing by Customer Dashboard</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="20%"   alt="NUS logo"/><br/>
    <a href="{% url 'appstore_admin' %}">Back to Main</a>
    <br/><br/>
    <form action="/admin_listing/" method="get" id="cust">
        <label for="cust">Select Customer ID:</label>
            <select name="cust" id="cust">
                <option value="Reset">--</option>
                {% for customer in customers %}
                    <option value={{customer.3}}>{{customer.3}}</option>
                {% endfor %}
            </select>
        <input type="submit" class="submitbtn" value="Submit">
    </form>
    <form action="/admin_listing/" method="get" id="reset">
        <input type="submit" class="resetbtn" value="Reset">
    </form>
   
    <table class='table' border=1>
        <thead class="thead-dark">
            <th>Customerid</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>GPU Model</th>
            <th>GPU Brand</th>
            <th>Price</th>
            <th>Available Start Day</th>
            <th>Available End Day</th>
        </thead>
        {% for custinfo_index in custinfo %}
        <tr>
            <td> {{ custinfo_index.0 }} </td>
            <td> {{ custinfo_index.1 }} </td>
            <td> {{ custinfo_index.2 }} </td>
            <td> {{ custinfo_index.3 }} </td>
            <td> {{ custinfo_index.4 }} </td>
            <td> {{ custinfo_index.5 }}</td>
            <td> {{ custinfo_index.6 }}</td>
            <td> {{ custinfo_index.7 }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
