{% load static %}
<html>
<body>
    <h2>Customers in the App Store</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add">New customer</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>ID</th>
            <th>GPU Model</th>
            <th>Brand</th>
            <th>Price</th>
        </thead>
        {% for cust in records %}
        <a href="view/{{cust.5}}"><tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.6 }} </td>
            
        </tr></a>
        {% endfor %}
    </table>
</body>
</html>
