{% load static %}
<html>
<body>
    <h2>GPU Listing</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <a href="add_listing">New Listing</a>
    <br/><br/>
    <a href="{% url 'listing' 1 %}"><button>Most recent</button></a>
    <a href="{% url 'listing' 2 %}"><button>Least recent</button></a>
    <a href="{% url 'listing' 3 %}"><button>Price High to Low</button></a>
    <a href="{% url 'listing' 4 %}"><button>Price Low to High</button></a>
    
    <table border=1>
        <thead>
            <th>Listing Number</th>
            <th>GPU Model</th>
            <th>GPU Name</th>
            <th>Price</th>
        </thead>
        {% for listing in records %}
        <tr>
            <td> {{ listing.0 }} </td>
            <td> <a  href="view_listing/{{listing.0}}">{{ listing.1 }} </a></td>
            <td> {{ listing.2 }} </td>
            <td> {{ listing.6 }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
