<html>
<body>
    <h2>Rental confirmation</h2>
    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <!--<div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        First name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" maxlength="64" class="textinput textInput" required="" id="id_first_name"> 
        </div> </div> <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" maxlength="64" class="textinput textInput" required="" id="id_last_name"> 
        </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> -->
        </div> </div> <div id="div_id_start_day" class="control-group"> <label for="id_start_day" class="control-label requiredField"> 
        Rental starting day (yyyy-mm-dd)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Start_day" class="dateinput" required="" id="rental_start_day">   
        </div> </div> <div id="div_id_end_day" class="control-group"> <label for="id_end_day" class="control-label requiredField">
        Rental ending day (yyyy-mm-dd)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="End_day" class="dateinput" required="" id="rental_end_day">
        <!--</div> </div> <div id="div_id_borrowerid" class="control-group"> <label for="id_borrowerid" class="control-label requiredField">
        Borrower ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Borrower_id" maxlength="16" class="textinput textInput" required="" id="id_borrowerid"> 
         </div> </div> <div id="div_id_country" class="control-group"> <label for="id_country" class="control-label requiredField">
        Country<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="country" maxlength="16" class="textinput textInput" required="" id="id_country"> </div> </div>  -->
        <h5 style="font-size:14px; color:#c70505; ">{{ error_message}}</h5>
        <br>
        <button type="submit" value="Rent">Rent</button>
    </form>

    <table border=1>
        <thead>
            <th>Listing Number</th>
            <th>GPU Model</th>
            <th>GPU Name</th>
            <th>Price</th>
            <th>Available Start Date</th>
            <th>Available End Date</th>
        </thead>
        {% for listing in GPU %} 
        <tr>
            <td> {{ listing.0 }} </td>
            <td> 
                <a href="{% url 'view_listing'  listing.0  %}">{{ listing.1 }}</a>
            </td>

            <td> {{ listing.2 }} </td>
            <td> {{ listing.6 }} </td>
            <td> {{ listing.4 }}</td>
            <td> {{ listing.5 }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border=1>
        <thead>
            <th>Wallet Balance</th>

        </thead>
        {% for details in Borrower %}
        <tr>
            <td> {{ details.4 }} </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>