<html>
<body>
    <h2>Details for {{cust.0}} {{cust.1}}</h2>
    <a href="/appstore_admin">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>GPU Model</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Brand</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Wallet Balance</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        
        <tr>
            <th>Credit Card Number</th>
            <td>:</td>
            <td> {{ cust.7 }} </td>
        </tr>
        <tr>
            <th>Credit Card Type</th>
            <td>:</td>
            <td> {{ cust.8 }} </td>
        </tr>
    </table>
</body>
</html>